.init-players-wrapper {
  text-align: center;
  max-width: 300px;
  margin: 10% auto 0 auto;

  .add-player, .start-game{
    border: none;
    background-color: rgba(198, 255, 198, 0.8);
    width: 300px;
    font-size: 40px;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .add-player-wrapper {
    max-width: 300px;
    margin: 0 auto;
  }

  .start-game {
    margin-top: 30px;
  }

  .player-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .player-name {
    border: none;
    padding: 10px 0;
    width: 300px;
    margin-right: 15px;
    border-radius: 15px;
  }

  .del-player {
    border: none;
    background-color: transparent;
    color: lightcoral;
    font-size: 30px;
    display: flex;
    align-items: center;
  }
}

