@import "reset";
@import "player";
@import "table";
@import "manipulation";
@import "initPlayers";
@import "results";

*, {
  box-sizing: border-box;
}
body{
  background: #b3d4fc;
}

.game {
  max-width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.error {
  color: lightcoral;
  font-style: italic;
  margin-bottom: 10px;
}

.input-error {
  color: lightcoral;
  font-style: italic;
  margin-bottom: 10px;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 10px;
  background-color: lightgreen;

  &--active {
    width: 100%;
    animation: loading 3s linear;
  }
}

@keyframes loading {
  0% { width: 0; }
  100% { width: 100%;}
}

@media screen and  (max-width:820px){
  .game-result {
    grid-template-columns: repeat(1, 1fr);
    .card {
      width: 70px;
      font-size: 15px;
    }
    .player-cards {
      justify-content: center;
    }
  }
}

@media screen and  (max-width:760px){
  .player-cards {
    justify-content: center;
  }
}

@media screen and  (max-width:620px){
  .manipulation {
    flex-direction: column;
    .winner-wrapper {
      margin-top: 20px;
    }
  }
}

@media screen and  (max-width:540px){
  .card {
    margin: 0;
  }

  .table {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and  (max-width:400px){

  .init-players-wrapper {
    .player-name {
      width: 210px;
    }
  }
}

@media screen and  (max-width:350px){
  .manipulation-btn {
    width: 85px;
    height: 85px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  .game-result {
    .player-cards {
      flex-direction: column;
    }

    .card {
      margin: 0 !important;
    }
  }
}