.manipulation {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;

  .winner-wrapper {
    font-size: 40px;
    margin-left: 30%;
    transform: translateX(50%);
  }

  &-btn {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    border: none;
    font-size: 22px;
  }

  &-btn:disabled {
    opacity: 0.5;
  }

  &-btn:not(:last-child) {
    margin-right: 15px;
  }
}