.player {
  padding: 15px;
  background-color: lightcoral;
  font-size: 24px;
  border-radius: 7px;

  &-cards {
    display: flex;
    flex-wrap: wrap;
  }

  &-name {
    text-align: center;
  }

  &-footer {
    font-size: 18px;
    text-align: center;
  }
}